<%= form_for @pet do |f| %>
  <% if @pet.errors.any? %>
    <ul>
    <% @pet.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :weight %>
  <%= f.number_field :weight %>
  </p>
  <p>
  <%= f.label :picture %>
  <%= f.file_field :picture %>
  </p>
  </p>
  <p>
  <%= f.select :species_id, options_for_select(Species.all.collect {|u| [ u.species_type, u.id ] }) %>
  </p>
  <p>
  <%= f.submit %>
<% end %>
<%= link_to "Back", :back %>
