<h1><%= @pet.name %></h1>
<%= @pet.weight %><br/>
<%= @pet.species.species_type %>
In Stock: <%= @pet.species.stock unless @pet.species.nil? %>
<br/><br/>
<% if is_admin %>
  <%= link_to "Edit", edit_pet_path %>
<% end %>
<br/>
<%= link_to "Back", :back %>
