<h1><%= @pet.name %></h1>
<%= image_tag @pet.picture, width: 200 %><br/>
Weight: <%= @pet.weight %><br/>
<%= @pet.species.species_type %>
In Stock: <%= @pet.species.stock unless @pet.species.nil? %>
<% if current_user %>
  <%= link_to "Buy", buy_pet_path(@pet) %>

<% else %>
  Login to buy
<% end %>
<br/><br/>
<% if is_admin %>
  <%= link_to "Edit", edit_pet_path %>
<% end %>
<br/>
<%= link_to "Back", :back %>
